.jointherepublic{
    background-image: url("https://dlcdnwebimgs.asus.com/gain/FDFFE426-0A29-40D5-8E26-C838EB26CA8F");
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .jointext{
        display: flex;
        align-items: center;
        flex-direction: column;
        h2{
            color: white;
            width: 100%;
        }
        p{
            color: white;
            width: 100%;
        }
    }
}
@media only screen and (max-width: 1220px){
    .jointherepublic{
        background-image: url("https://dlcdnwebimgs.asus.com/gain/FDFFE426-0A29-40D5-8E26-C838EB26CA8F");
        height: 50vh;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
}